<div class="container mt-5">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Welcome to Angular Github</mat-card-title>
          <mat-card-subtitle>Please provide us your github e-mail</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <form fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput [(ngModel)]="username" [formControl]="usernameFormControl" [errorStateMatcher]="matcher">
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-hint>Enter your github username</mat-hint>
              <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions fxLayout="column">
          <button mat-flat-button color="primary" (click)="login()" [disabled]="usernameFormControl.invalid">Login with Github</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>