<app-nav></app-nav>
<div class="container fluid my-2">
  <div class="row align-self-center">
    <div class="col">
      <div class="card my-2" *ngFor="let repo of repositories">
        <div class="card-header bg-dark text-white">{{repo.name}}</div>
        <div class="card-body">
          <p class="card-text">
            {{repo.description ? repo.description : 'No description available'}}
          </p>
        </div>
        <mat-card-actions align="end" class="px-3">
          <mat-icon [matBadge]="repo.stargazers_count" matBadgeColor="accent" class="mx-3">star</mat-icon>
          <mat-icon [matBadge]="repo.forks_count" matBadgeColor="accent" class="mx-3">call_split</mat-icon>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>